<a href="{{url}}" class="shadow-xl card bg-base-100 h-full hover:scale-105 transition-all">
  <div class="w-full aspect-video overflow-hidden object-contain object-center">
    <img src="{{feature_image}}" alt="" class="w-full">
  </div>
  <h4 class="font-bold text-center m-4 line-clamp-3">{{title}}</h4>
</a>