<div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 py-4 gh-postfeed">
  {{#foreach posts}}
    {{#if @first}}
      {{> "card-first" }} {{!-- partials/card.hbs --}}
    {{else}}
      {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}
    {{/if}}
  {{/foreach}}
</div>