<div class="w-full carousel md:grid md:grid-cols-3 sm:gap-4">
  {{#foreach posts}}
    <div class="carousel-item w-full sm:w-64 md:w-full">
      {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}
    </div>
  {{/foreach}}
</div>